<section id="home">

<h1 class="center">Records & Stuff</h1>

<form class="center search" action="/search" method="get">
  <label for="name"></label>
  <input type="text" name="name" >
  <input type="submit" class="button" value="Search Artists">
</form>

<section id="random-covers">
  <%#  covers = @albums.map { |album| album.artwork }.sample(4) %>
  <% @albums.sample(5).each do |album| %>
  <a href="/albums/<%= album.id %>"><img class="cover-image" src="<%= album.artwork %>" alt=""></a>
  <% end %>
</section>
</section>
