<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Record Store</title>
  <link rel="stylesheet" href="/styles/structure.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/albums.css">
</head>
<body>
  <main>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>|</li>
        <li><a href="/artists">Artists</a></li>
        <li>|</li>
        <li><a href="/albums">Albums</a></li>
        <li>|</li>
        <li><a href="/inventory">Inventory</a></li>
        <li>|</li>
        <li>
          <form action="/search" method="get">
            <input type="text" name="name" >
            <input type="submit" value="Search Artists">
          </form>
        </li>
      </ul>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>
