<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Records & Stuff</title>
  <link rel="stylesheet" href="/styles/structure.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/albums.css">
  <link rel="stylesheet" href="/styles/artists.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/buttons.css">
  <link rel="icon" href="/images/vinyl-icon.png">
</head>
<body>
  <main>
    <nav>
      <ul>
        <li class="link" onclick="location.href='/'"><a href="/">Home</a></li>
        <!-- <li>|</li> -->
        <li class="link" onclick="location.href='/artists'"><a href="/artists">Artists</a></li>
        <!-- <li>|</li> -->
        <li class="link" onclick="location.href='/albums'"><a href="/albums">Albums</a></li>
        <!-- <li>|</li> -->
        <li class="link" onclick="location.href='/inventory'"><a href="/inventory">Inventory</a></li>
        <!-- <li>|</li> -->
        <li>
          <form class="search-bar" action="/search" method="get">
            <input type="text" name="name" >
            <input type="submit" value="Search Artists">
          </form>
        </li>
      </ul>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>
