
.show-album {
  display: flex;
  flex-wrap: wrap;
}

.show-album-content {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}

@media all and ( max-width: 720px ) {
  .show-album-content {
    width: 100vw;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    color: white;
  }
  .show-album a {
    color: white;
  }
  .show-album input {
    color: white;
    border: 1px solid white;
  }
  .show-artwork {
    width: 100vw;
    height: 100vw;
  }
}

.show-album-content p {
  margin: 10px;
}


.show-artwork {
  height: 93vh;
}

.show-album h1 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.show-album h2 {
margin-top: 0;
margin-bottom: 200px;
padding: 0;
}

.thumbnail {
  height: 200px;
  width: 200px;
}

.album-tiles {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.album-tiles h1 {
  color: white;
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  width: 33vw;
  text-align: center;
  font-size: 2rem;
}

.album-tiles h2 {
  color: white;
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  width: 33vw;
  text-align: center;
}

.album-tiles p {
  color: white;
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  width: 33vw;
  text-align: center;
}

.album-div {
  height: 33vw;
  width: 33vw;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.4) !important;
  background-blend-mode: darken !important;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: 0.2s;
}

.album-div:hover {
  background-blend-mode: lighten !important;
  font-size: 200%;
  transition: 0.2s;
}

.home-album-div {
  height: 250px;
  width: 250px;
  margin: 10px;
  padding: 0;
  background-color: rgba(0,0,0,0.4) !important;
  background-blend-mode: darken !important;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: 0.2s;
}

.home-album-div:hover {
  background-blend-mode: lighten !important;
  font-size: 120%;
  transform: scale(1.1);
  transition: 0.2s;
}

.home-album-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.home-album-tiles h1 {
  color: white;
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  width: 250px;
  text-align: center;
  font-size: 1em !important;
}

.home-album-tiles h2 {
  color: white;
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  width: 250px;
  text-align: center;
  font-size: 1em;
}

.home-album-tiles p {
  color: white;
  background-color: rgba(0,0,0,0.2);
  margin: 0;
  width: 250px;
  text-align: center;
}
