
.show-album {
  display: flex;
  flex-wrap: wrap;
}

.show-album-content {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-album img {
  float: left;
  height: 94vh;
  width: 94vh;
}

.show-album h1 {
  font-size: 3rem;
  margin: 0;
}

.show-album h2 {
margin-top: 0;
padding: 0;
}

.thumbnail {
  height: 200px;
  width: 200px;
}

#album-tiles {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

#album-tiles h1, h2, p {
  color: white;
  background-color: rgba(0,0,0,0.2) !important;
  margin: 0;
  width: 33vw;
  text-align: center;
}

#album-tiles h1 {
  font-size: 2rem;
}
#album-tiles h2 {
  font-size:
}
#album-tiles p {
  font-size:
}

.album-div {
  height: 33vw;
  width: 33vw;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.4) !important;
  background-blend-mode: darken !important;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: 0.2s;
}

.album-div:hover {
  background-blend-mode: lighten !important;
  font-size: 200%;
  transition: 0.2s;
}
