.profile {
  height: 40vh;
  width: 100vw;
  margin: 0, auto;
  padding: 0, auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}

.artist-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: auto;
  height: 10vh;
}

.artist-title h1 {
  font-size: 2.2rem;
}

.artist-title input {
  font-size: 1.1rem;
  margin-left: 20px;
}


.artist {
  display: flex;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: darken;
  transition: 0.5s;
}

.artist:hover {
  background-blend-mode: lighten;
  transition: 0.2s;
}

.artist h1 {
  width: 100vw;
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.2s;
}

.artist:hover h1 {
    font-size: 4rem;
    transition: 0.2s;
}

#update-artist {
  background-repeat: no-repeat;
  background-size: cover;
}
