
.button {
background: none;
border: 1px solid black;
border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: lightslategray !important;
  color: white;
  transition: 0.2s;
}

.new-album input[type=submit] {
  font-size: 1.5rem;
  transition: 0.2s;
}

.album-buttons {
  display: flex;
}

.album-buttons form input {
  font-size: 1.1rem;
  margin: 15px;
}
