.search {
  position: relative;
  align-items: center;
  height: 50vh;
  top: 50px;
}

.search input {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 40vh;
  margin-top: 10vh;
  font-size: 1.2rem;
  background: none;
  transition: 0.2s;
}


.search-bar input {
  border-radius: 5px;
}

.new-album {
  display:flex;
  flex-direction: column;
  width: 25vw;
  align-items: space-between;
  justify-content: center;
  margin:auto;
  background-color: rgba(255, 255, 255, 0.8);
  height: 92vh;
  padding: 10px;
}

.new-album input {
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid black;
  margin: 10px;
  float:right;
  font-size: 1.2rem;
  background: none
}

.new-album select {
  margin: 15px;
  font-size: 1.1rem;
  text-align: center;
}

.new-album label {
  position: relative;
  top: 15px;
}

#update-artist form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 40vw;
  height: 95vh;
  margin: auto;
  font-size: 1.2rem;
  padding-left: 5vw;
  padding-right: 5vw;
}

#update-artist input {
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 20px;
}

#update-artist {
  height: 95vh;
}



#update-artist h1 {
  font-size: 2rem;
  margin-bottom: 10vh;
}

#new-artist {
  height: 95vh;
}

#new-artist form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  height: 95vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

#new-artist form input {
  font-size: 1.2rem;
  text-align: center;
  margin: 10px;
}

#new-artist h1 {
  font-size: 2rem;
}

#update-album {
  width: 100vw;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#update-album form{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20vw;
  background-color: rgba(255, 255, 255, 0.8);
  height: 85vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  font-size: 1rem;
}

#update-album input {
  float: right;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: none;
  background-color: white;
  font-size: 1rem;

}

#update-album label {
  position: relative;
  top: 10px;
}

#update-album h1 {
  font-size: 2rem;
}

.filter {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  font-size: 0.8em;
  position: relative;
  right: 20px;
}
