body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0, auto;
  width: 100vw;
}

nav {
  border-bottom: 1px solid lightslategray;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3vh;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 1em;
}


a {
  text-decoration: none;
  color: darkslategray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-link {
  margin-left: 10px;
}

#new-album {
  background-image: url('../images/childish_gambino_profile.jpeg')
}

#new-album h1 {
  background-color: white;
}

#random-covers {
  display: flex;
}

.cover-image {
  height: 25vw;
  width: 25vw;
}
