body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0, auto;
  width: 100vw;
  background-color: #f2f5fc;
}

nav {
  border-bottom: 1px solid lightslategray;
  height: 5vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}


a {
  text-decoration: none;
  color: darkslategray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-link {
  margin-left: 10px;
}

#new-album {
  background-image: url('../images/childish_gambino_profile.jpeg')
}

#random-covers {
  display: flex;
  flex-wrap: wrap;
}

.cover-image {
  height: 20vw;
  width: 20vw;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}

#home h1 {
  font-size: 4rem;
}

#new-artist {
  height: 100vh;
  background-image: url("/images/gogo_penguin_profile.jpg");
}
