body {
  font-family: 'Roboto', sans-serif;
  margin: 0, auto;
  padding: 0, auto;
}

nav {
  border-bottom: 1px solid lightslategray;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 3vh;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 1em;
}


a {
  text-decoration: none;
  color: darkslategray;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-album {
  display: flex;
  flex-wrap: wrap;
}

.show-album-content {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-artwork {
  float: left;
  height: 94vh;
}

.show-album-title {
  font-size: 3rem;
  margin: 0;
}

.show-album-artist {
margin-top: 0;
oadding: 0;
}
