<section id="new-artist">

<form action="/artists" method="post">
  <h1  class="center">Add new Artist</h1>
  <label class="center" for="name">Artist Name:</label>
  <input type="text" name="name" id="name">

  <input type="submit" value="Add Artist">
</form>
</section>
